body{
	font-family: 'Lora', serif;
	background:#282828;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #424242;

	margin-bottom: 35px;
	margin-top: 0;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 21px;
}

.ripple {
    position: absolute;
    top: 50%;
    left: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointezr;
  }
  .ripple:before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  .ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }
  .button-base:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }
  .button-base {
    -webkit-appearance: none;
    border: none;
    text-transform: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: silver;
    color: #fff;
    vertical-align: middle;
    border-radius: 3px;
    line-height: 30px;
    min-height: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 5.2em;
    padding: 0.1em;
    margin: 0 0.3em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .button-base:focus {
    outline: 0;
  }
  
.box{
    margin-top: 0px;
    position: relative; top: -120px;
}

.img-box{
	width:80%;
	height:500px;
	overflow:hidden;
	margin:0 auto;
}

.main-img {
    width: 100%;
    height: 657px;
	text-align: center;
	position: relative;
	padding: 1px;
}

.main-title{
	font-size: 60px;
	font-weight: bold;
	color: white;
}

.main-sub-title{
	font-size: 20px;
	margin-top:70px;
	font-weight: bold;
	color: aliceblue;
}

.main-img::after {
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-image: url(/img/main2.jpg);
    background-position: center;
    background-repeat : no-repeat;
    background-size : cover;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

.container{
    align-items: center;
    width: 100vw;
    height: 500px;
    justify-content: center;
}

.foot-header{
    margin-top: 20px;
}

 table.type09 {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  }
  
  table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: aliceblue;
    border-bottom: 3px solid #036;
  }
  table.type09 tbody th {
    width: -10px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  table.type09 td {
    width: 150px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    color: aliceblue;
  }

.fade-in-box {
    display: float;
    padding: 10px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  .fade-out-box {
    display: inline-block;
    background: yellow;
    padding: 10px;
    animation: fadeout 4s;
    -moz-animation: fadeout 4s; /* Firefox */
    -webkit-animation: fadeout 4s; /* Safari and Chrome */
    -o-animation: fadeout 4s; /* Opera */
    animation-fill-mode: forwards;
  }
  @keyframes fadeout {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-moz-keyframes fadeout { /* Firefox */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-webkit-keyframes fadeout { /* Safari and Chrome */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-o-keyframes fadeout { /* Opera */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }

input{
    border: none;
    border-bottom: none;
    outline: none;
    background-color: rgb(241, 241, 241);
}

table.type10 {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  	
  }
  table.type10 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
    color: aliceblue;
  }
  table.type10 tbody th {
    width: -10px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  table.type10 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    color: aliceblue;
  }
  
  
  .modal_wrap{
        display: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
    }
    .black_bg{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }
    
    
/*Navigation*/
#menu-item{
	transition: all 0.3s ease-in-out;
}
.menu-item{
	background-color: #1a1a1a;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}
.menu-item ul{
	padding-left: 0;
	margin-bottom: 0;
}
.menu-item ul a li{
	padding: 15px 0;
	list-style-type: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-item ul a:hover li{
	color: #51c2b9;
	text-decoration: none;
}
.hide-menu{
	margin-top: -377px;
}
.show-menu{
	margin-top: 0;
}
.dark-bar{
	background-color: #424242;
	background-image: none;
}
.navigation-bar{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 15px 0;
	font-size: 30px;
}
.navigation-bar a{
	color: #fff;
}
.menu{
	position: relative;
	display: inline-block;
}

.menu:after{
	position: absolute;
	left: -65px;
	top: 10px;
	color: #fff;
	font-size: 16px;
}
.m:after{
	content: 'MENU';
}
.c:after{
	content: 'CLOSE';
}



.main-container{
	width: 80%;
	height: 100%;
	min-height: 500px;
	margin: 0 auto;
	text-align: center;
}

.top-head{
	width : 80%;
	height : 50px;
	display: flex;
	margin: 0 auto;
}

.footer-head{
	width : 100%;
	height : 300px;
	display: flex;
	position: absolute;
	clear: both;
}

.footer{
	clear:both;
}

.box-right{
	width: 30%;
	float: right;
	padding: 1px;
	margin-top: 10px;
}

.box-left{
	width: 30%;
	float: left;
	margin-left: 10%;
	margin-top: 10px;
	padding: 1px;
}

.footer-head{
	width : 100%;
	height : 300px;
	display: flex;
	position: absolute;
	clear: both;
}

.box-left-e{
	flex: 1;
	float: left;
	margin-left: 10.5%;
}

.box-center{
	flex: 1;
	float: left;
	margin-right: 160px;
	margin-top: 10px;
	padding: 1px;

}

.box-center-e{
	flex: 70%;
	float: right;
	margin-right:10.5%;
}



.left-card{
	width: 27%;
	float:left;
	height: 200px;
	margin-left: 140px;
}

.center-card{
	width:27%;
	float:left;
	height: 200px;
}

.right-card{
	width:27%;
	float:left;
	height: 200px;
}

i{
	color: white;
}

.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.bg-img:after{
	display: none;
}

.header{
	background-image: url(/img/main2.jpg);
	height: 100vh;
	position: relative;
	min-height: 659px;
	opacity: 0.33;
}

input::placeholder{
	font-size: 15px;
}
