@media screen and (max-width: 1200px) {
    .main-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    .main-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .main-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .main-title{
        font-size: 30px;
    }
}


.ripple {
    position: absolute;
    top: 50%;
    left: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointezr;
  }
  .ripple:before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  .ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }
  .button-base:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }
  .button-base {
    -webkit-appearance: none;
    border: none;
    text-transform: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: silver;
    color: #fff;
    vertical-align: middle;
    border-radius: 3px;
    line-height: 36px;
    min-height: 36px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 5.2em;
    padding: 0.1em;
    margin: 0 0.3em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .button-base:focus {
    outline: 0;
  }
  
.box{
    margin-top: 0px;
    position: relative; top: -120px;
}

.main-img {
    width: 500px;
    height: 500px; 
    border-radius: 70%;
    overflow: hidden;
    align-content: space-around;
    position: relative;
}

.container{
    align-items: center;
    background-color: rgb(241, 241, 241);
    width: 100vw;
    height: 500px;
    justify-content: center;
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  img {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.jb-header{
    margin-top: 20px;
}


 table.type09 {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  
  }
  table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
  }
  table.type09 tbody th {
    width: -10px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  table.type09 td {
    width: 150px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }

.table-form{
    width: 400px;
<<<<<<< HEAD
}
=======
}
>>>>>>> branch 'master' of https://github.com/kkh9198/ReservationPrj.git
