.top-head{
	width : 100%;
	height : 50px;
	display: flex;
}

.footer-head{
	width : 100%;
	height : 150px;
	display: flex;
}

.box-right{
	flex: 1;
	float: right;
}

.box-left{
	flex: 1;
	float: left;
}

.box-center{
	flex: 3;
}

.box-center-e{
	flex: 3;
	float: right;
}

h1 {
    font-family: sans-serif;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.ripple {
    position: absolute;
    top: 50%;
    left: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointezr;
  }
  .ripple:before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  .ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }
  .button-base:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }
  .button-base {
    -webkit-appearance: none;
    border: none;
    text-transform: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: silver;
    color: #fff;
    vertical-align: middle;
    border-radius: 3px;
    line-height: 30px;
    min-height: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 5.2em;
    padding: 0.1em;
    margin: 0 0.3em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .button-base:focus {
    outline: 0;
  }
  
.box{
    margin-top: 0px;
    position: relative; top: -120px;
}

.main-img {
    width: 500px;
    height: 500px; 
    border-radius: 70%;
    overflow: hidden;
    align-content: space-around;
    position: relative;
}

.container{
    align-items: center;
    width: 100vw;
    height: 500px;
    justify-content: center;
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  img {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.jb-header{
    margin-top: 20px;
}


 table.type09 {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  
  }
  table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
  }
  table.type09 tbody th {
    width: -10px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  table.type09 td {
    width: 150px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }

.fade-in-box {
    display: inline-block;
    padding: 10px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  .fade-out-box {
    display: inline-block;
    background: yellow;
    padding: 10px;
    animation: fadeout 4s;
    -moz-animation: fadeout 4s; /* Firefox */
    -webkit-animation: fadeout 4s; /* Safari and Chrome */
    -o-animation: fadeout 4s; /* Opera */
    animation-fill-mode: forwards;
  }
  @keyframes fadeout {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-moz-keyframes fadeout { /* Firefox */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-webkit-keyframes fadeout { /* Safari and Chrome */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-o-keyframes fadeout { /* Opera */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }

input{
    border: none;
    border-bottom: none;
    outline: none;
    background-color: rgb(241, 241, 241);
}

table.type10 {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  
  }
  table.type10 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
  }
  table.type10 tbody th {
    width: -10px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  table.type10 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  
  
  .modal_wrap{
        display: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
    }
    .black_bg{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }
    
    
input[id="menuicon"]{
	display: none;
}

input[id="menuicon"]+label{
	display: block;
	width: 50px;
	height: 30px;
	position: relative;
	cursor:pointer;
}

input[id="menuicon"]+label span{
	display: block;
	position:absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: #000;
	transition:all .35s;
}

input[id="menuicon"]+label span:nth-child(1){
	top:0;
}

input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

input[id="menuicon"]:checked + label{
	z-index: 2;
}

input[id="menuicon"]:checked + label span:nth-child(1){
	top:50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
	opacity:0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
	bottom:50%;
	transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"]{
	width:300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -300px;
	z-index:1;
	transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
	left:0;
}

.footer{
	position:absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	margin-bottom: -5px;
}
    

